<div class="right_col" role="main">
 
          <h3>Editar Productos</h3>


      
<%= render 'form', product: @product %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>


</div>
