	<section id="ts-features" class="ts-features">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="ts-intro">
							<!-- <h2 class="into-title">¡TRANSFORME su VIDA Y LA DE AQUELLOS A SU ALREDEDOR!</h2> -->
							<h3 class="into-sub-title">Nuevas oportunidades</h3>
							<p>¡Rena Ware ofrece una oportunidad única que transforma vidas y asume los riesgos usualmente asociados con iniciar un negocio!
Esto es lo que llamamos "La Diferencia Rena Ware".</p>
						</div><!-- Intro box end -->

						<div class="gap-20"></div>

						<div class="row">
							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-trophy"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">Productos de calidad</h3>
									</div>
								</div><!-- Service 1 end -->
							</div><!-- col end -->

							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-sliders"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">Experiencia en el mercado</h3>
									</div>
								</div><!-- Service 2 end -->
							</div><!-- col end -->
						</div><!-- Content row 1 end -->

						<div class="row">
							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-thumbs-up"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">Compromiso con ustedes</h3>
									</div>
								</div><!-- Service 1 end -->
							</div><!-- col end -->

							<div class="col-md-6">
								<div class="ts-service-box">
									<span class="ts-service-icon">
										<i class="fa fa-users"></i>
									</span>
									<div class="ts-service-box-content">
										<h3 class="service-box-title">Creamos profesionales</h3>
									</div>
								</div><!-- Service 2 end -->
							</div><!-- col end -->
						</div><!-- Content row 1 end -->
					</div><!-- Col end -->

					<div class="col-md-6 col-xs-12">
						<h3 class="into-sub-title">¡EMPIECE HOY MISMO!</h3>
						<p>Si está buscando un ingreso extra o la oportunidad de ganar más, con la Diferencia Rena Ware no tiene nada que perder empezando hoy.</p>
						<div class="panel-group" id="accordion">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Herramientas</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in">
									<div class="panel-body">
										<p>Herramientas móviles a su alcance. Usted solo invierte su tiempo.</p>
									</div>
								</div>
							</div>
							<!--/ Panel 1 end-->

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"> Ganancia</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<p>¡Comience a tener ganancias con su primera venta!</p>
									</div>
								</div>
							</div>
							<!--/ Panel 2 end-->


							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree">
											Productos</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<p>Gane productos y materiales de venta que le ayudarán a crecer su negocio. Refiérase a su programa local para reglas y detalles.</p>
									</div>
								</div>
							</div>
							<!--/ Panel 3 end-->

						</div>
						<!--/ Accordion end -->

					</div><!-- Col end -->
				</div><!-- Row end -->
			</div><!-- Container end -->
		</section><!-- Feature are end -->