   <section id="main-container" class="main-container">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <h3 class="column-title">VISIÓN DE RENA WARE</h3>
               <p>“Cuando usted ayuda a otros a alcanzar sus sueños, usted alcanzará los suyos”.</p>
               <blockquote><p>Esta es la visión que la familia Zylstra ha compartido por más de 75 años y ahora, en la cuarta generación de los dueños de Rena Ware, continua dedicada a mantener nuestra visión, celebrando nuestra diferencia, y cumpliendo con nuestro propósito principal.:</p></blockquote>

            </div><!-- Col end -->

            <div class="col-md-6">
               
               <div id="page-slider" class="owl-carousel owl-theme page-slider small-bg">

                  <div class="item" style="background-image:url(<%= asset_path 'ViewUser/RW_nosotros1.png' %>)">
                     <div class="container">
                        <div class="box-slider-content">
                           <div class="box-slider-text">
             
                           </div>    
                        </div>
                     </div>
                  </div><!-- Item 1 end -->
     
            

            </div><!-- Col end -->

</div>


            <div class="col-md-5">
               
               <div id="page-slider" class="owl-carousel owl-theme page-slider small-bg">

                  <div class="item" style="background-image:url(<%= asset_path 'ViewUser/RW_nosotros2.png' %>)">
                     <div class="container">
                        <div class="box-slider-content">
                           <div class="box-slider-text">
                           </div>    
                        </div>
                     </div>
                  </div><!-- Item 1 end -->


               </div><!-- Page slider end-->          
            

            </div><!-- Col end -->




             <div class="col-md-6">

<br>
<br>
<br>
               <h3 class="column-title">PASIÓN POR su FUTURO</h3>

               <blockquote><p>Nuestro plan de negocio puede ayudarle a crear su futuro ideal. Prácticamente sin requerir ninguna obligación financiera, puede beneficiarse de métodos de entrenamiento probados y el soporte de la familia Rena Ware. ¡Pruébelo en su tiempo libre para ganar un ingreso extra y si le funciona, puede dedicarse a tiempo completo!</p></blockquote>


         </div><!-- Content row end -->

      </div><!-- Container end -->
   </section><!-- Main container end -->